package com.spring.project.web.core.entity.base;

import org.apache.ibatis.type.Alias;
import java.io.Serializable;
import java.util.Date;
import java.util.Map;

/**
 * @author ${author}
 * 创建时间 ${date} ${time}
 */
@Alias("${className}")
public class ${ClassName} implements Serializable {
    private static final long serialVersionUID = 1L;
    ${columnProperty}

    ${columnPropertySetGet}
}